.live-preview {
    position: fixed;
    left: 15px;
    bottom: 15px;
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 10px #000;
    z-index: 9;
}


.live-preview button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* media */
@media (max-width: 768px) {
    .live-preview {
        left: 5px;
        bottom: 5px;
        padding: 15px;
        margin-top: 15px;
        scale: 0.9;
    }
}


/* date pick */
.hidden-input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.date-btn {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    top: 1px;
    color: #333;
    transition: transform .2s, box-shadow .2s;
}

.date-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, .15);
}

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}


@media (max-width: 500px) {
    body .live-preview {
        width: 70vw;
        height: fit-content;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scale: 1;
    }
}