.service-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;


}

.service-layout .service-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 20rem;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
}


.service-card:hover {
    transform: translateY(-10px);
}


.service-card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


.service-card .more-services {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 900;
}


/* colors */
.colors {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    position: absolute;
    bottom: 55px;
    right: 50%;
    transform: translate(50%, 0);
}

.color-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
}

.color-dot.active {
    border: 2px solid #000;
    transform: scale(1.1) translateY(-5px);
}

.price {
    margin-top: 10px;
    font-weight: bold;

}