/* HEADER */
header {
  width: 100%;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: drop-shadow(0 0 30px #000);
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.719);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 15vw;
  text-shadow: 3px 4px 7px #ff08d6;
  color: #fff;
}

/* Media Query for Mobile Devices */
@media (max-width: 700px) {
  header video {
    height: 70vh;
  }

  .overlay h1 {
    font-size: 20vw;
  }

  .services-swap {
    margin-top: 3rem;
  }

  .services-swap li {
    font-size: 5vw !important;
  }
}

.observe-me {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 2s ease-in-out;
}

.observe-me.visible {
  opacity: 1;
  transform: translateX(0%);
}


.services-swap {
  list-style-type: none;
  padding: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.services-swap li {
  font-size: 3vw;
  color: #fff;
  margin: 10px 0;
  padding-right: 10px;
  transition: all 1s ease-in-out;
  border-right: 2px solid #ff08d6;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(-20px);
}






nav {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 3;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  margin-right: 2rem;
  margin-top: 2rem;
}

nav ul li a {
  text-decoration: none;
  display: block;
  font-size: 1em;
  padding: 12px 14px;
  font-family: Heebo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

nav ul li a:hover {
  display: block;
  transform: scale(0.91);
}

.logo {
  text-decoration: none;
  position: fixed;
  top: 10px;
  right: 15px;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-shadow: 1px 0 2px #ff08d6;
  color: aliceblue;
  z-index: 2;
}

.logo img {
  margin-top: 0px;
  width: 4rem;
  filter: drop-shadow(0 0 1px #ff08d6);
}

.under-line {
  position: absolute;
  top: 65px;
  width: 110%;
  height: 2px;
  background: linear-gradient(270deg, red, #ffbfb2, yellow, green, #ffbfb2, #ff08d6, #ffbfb2);
  background-size: 1400% 1400%;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.active {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #ffbfb2;
}






/* about */
#services {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Karantina";
  font-size: 2.5rem;
}

#services ul {
  list-style-type: none;
  text-align: center;
  line-height: 2;
  border-bottom: 4px solid #ff08d6;
}



#services h1 {
  font-family: "Karantina", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
}

/* Testimonials Section */
#testimonials {
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-bottom: 2px solid #ff08d6;
}

#testimonials h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24pt;
}

#testimonials blockquote {
  font-style: italic;
  font-size: larger;
  color: #555;
  margin: 10px 0;
  border-right: 4px solid #ff08d6;
  padding-left: 20px;

}



/* My Works */

#myWork-section {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

#myWork-section h1 {
  font-size: 5rem;
}

#myWork {
  width: 70%;
  height: auto;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  border: solid 1.5px rgb(0, 0, 0);
  outline: none;
  filter: drop-shadow(0 0 5px #000);
}

@media(max-width: 1100px) {
  #myWork {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* עיצוב כללי */
main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/appointmantsNailsBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffbfb2;

}

.schedule {
  width: 70%;
  height: 80vh;
  margin: 6rem auto;
  border-radius: 21px;
  box-shadow: 0 0 30px #87c4d3 inset;
  background-color: #f65dcf;
  padding: 20px;
  position: relative;
  overflow-y: scroll;
}

.schedule h1 {
  font-size: 6rem;
}

.progressScale {
  height: 7px;
  width: 10rem;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to top, #87c4d3, #ffbfb2);
  border-radius: 5px;
}

#progLvls {
  height: 30px;
  position: fixed;
  z-index: 2;
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  bottom: 5.2%;
  left: 50%;
  transform: translate(-50%);
}

.progLvl {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(to bottom, #87c4d3, #ffbfb2);
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.progLvl.active {
  opacity: 1;
}

.telForm {
  width: 75%;
  margin: 2rem auto;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.telForm input {
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 5px;
}

.telForm button {
  width: 100%;
  padding: 3px;
  font-size: 2rem;
  cursor: pointer;
}

button.selected {
  background-color: #87c4d3;
  color: white;
}

@media (max-width: 650px) {
  .schedule {
    width: 80%;
  }
}


/* appointments */
.back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}



/* title */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}