@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css";

/* css routes */
@import "./styles/services.css";
@import "./styles/livePreview.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Karantina", Heebo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.modal-custom {
  direction: ltr !important;
}

/* עיצוב לסקרולר בכל הדפדפן */
::-webkit-scrollbar {
  width: 8px;
}

/* עיצוב המסילה של הסקרולר */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* עיצוב הידית של הסקרולר */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff08d6, #7d3cff);
  border-radius: 10px;
}

/* אפקט כשמעבירים את העכבר על הסקרולר */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff08d6, #ff5555);
  /* שינוי צבע ב-hover */
}

/* disabled button */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}